<link rel="stylesheet" href="~/css/Estilos.css" />
<h1 class="titulo-tabla">Usuarios</h1>

<!-- Tabla de Usuarios -->
<table id="employeeTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Fila 1 -->
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>Perez</td>
            <td>juan.perez@example.com</td>
            <td>
                <button class="icon-btn delete">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        <!-- Fila 2 -->
        <tr>
            <td>2</td>
            <td>María</td>
            <td>Gómez</td>
            <td>maria.gomez@example.com</td>
            <td>

                <button class="icon-btn delete">
                    <i class="fas fa-trash-alt"></i>
                </button>

            </td>
        </tr>

        <!-- Fila 1 -->
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>Perez</td>
            <td>juan.perez@example.com</td>
            <td>
                <button class="icon-btn delete">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>

    </tbody>
</table>







