obj/project.nuget.cache
obj/JarredsOrderHub.csproj.nuget.g.props
obj/Debug/net8.0/JarredsOrderHub.csproj.AssemblyReference.cache
obj/Debug/net8.0/JarredsOrderHub.assets.cache
obj/Debug/net8.0/JarredsOrderHub.AssemblyInfoInputs.cache
obj/Debug/net8.0/JarredsOrderHub.AssemblyInfo.cs
