obj/Debug/net8.0/JarredsOrderHub.AssemblyInfo.cs
obj/Debug/net8.0/JarredsOrderHub.AssemblyInfoInputs.cache
obj/Debug/net8.0/JarredsOrderHub.csproj.AssemblyReference.cache
obj/Debug/net8.0/JarredsOrderHub.GeneratedMSBuildEditorConfig.editorconfig
